.PracticeUpdate {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.urology {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.coe-fill {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.coe {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.dermatology {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.diabetes {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.cardiology {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.gastroenterology {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.neurology {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.oncology {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.primarycare {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.teardrop {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.eyecare {
	width: NaNpx;
	height: NaNpx;
	background-position: NaNpx 0;
}

.PracticeUpdate, .urology, .coe-fill, .coe, .dermatology, .diabetes, .cardiology, .gastroenterology, .neurology, .oncology, .primarycare, .teardrop, .eyecare {
	background-size: NaNpx NaNpx;
	background-repeat: no-repeat;
	background-image: url("pu-sprite.png");
}

.svg .PracticeUpdate, .svg .urology, .svg .coe-fill, .svg .coe, .svg .dermatology, .svg .diabetes, .svg .cardiology, .svg .gastroenterology, .svg .neurology, .svg .oncology, .svg .primarycare, .svg .teardrop, .svg .eyecare {
	background-image: url("pu-sprite.svg");
}