.svg-PracticeUpdate {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-cardiology {
	background-position: 0 -50px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-coe {
	background-position: 0 -100px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-coe-fill {
	background-position: 0 -150px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-dermatology {
	background-position: 0 -200px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-diabetes {
	background-position: 0 -250px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-eyecare {
	background-position: 0 -300px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-gastroenterology {
	background-position: 0 -350px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-neurology {
	background-position: 0 -400px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-oncology {
	background-position: 0 -450px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-primarycare {
	background-position: 0 -500px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-teardrop {
	background-position: 0 -550px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-urology {
	background-position: 0 -600px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

