.icon-COE-1-open { background-image: url('png/COE-1-open.png'); background-repeat: no-repeat; }

.icon-COE-1 { background-image: url('png/COE-1.png'); background-repeat: no-repeat; }

.icon-COE-2-open { background-image: url('png/COE-2-open.png'); background-repeat: no-repeat; }

.icon-COE-2 { background-image: url('png/COE-2.png'); background-repeat: no-repeat; }

.icon-PracticeUpdate-open { background-image: url('png/PracticeUpdate-open.png'); background-repeat: no-repeat; }

.icon-PracticeUpdate { background-image: url('png/PracticeUpdate.png'); background-repeat: no-repeat; }

.icon-cardiology-open { background-image: url('png/cardiology-open.png'); background-repeat: no-repeat; }

.icon-cardiology { background-image: url('png/cardiology.png'); background-repeat: no-repeat; }

.icon-coe-fill { background-image: url('png/coe-fill.png'); background-repeat: no-repeat; }

.icon-coe { background-image: url('png/coe.png'); background-repeat: no-repeat; }

.icon-dermatology-open { background-image: url('png/dermatology-open.png'); background-repeat: no-repeat; }

.icon-dermatology { background-image: url('png/dermatology.png'); background-repeat: no-repeat; }

.icon-diabetes-open { background-image: url('png/diabetes-open.png'); background-repeat: no-repeat; }

.icon-diabetes { background-image: url('png/diabetes.png'); background-repeat: no-repeat; }

.icon-eyecare-open { background-image: url('png/eyecare-open.png'); background-repeat: no-repeat; }

.icon-eyecare { background-image: url('png/eyecare.png'); background-repeat: no-repeat; }

.icon-gastro { background-image: url('png/gastro.png'); background-repeat: no-repeat; }

.icon-gastroenterology-open { background-image: url('png/gastroenterology-open.png'); background-repeat: no-repeat; }

.icon-gastroenterology { background-image: url('png/gastroenterology.png'); background-repeat: no-repeat; }

.icon-neurology-open { background-image: url('png/neurology-open.png'); background-repeat: no-repeat; }

.icon-neurology { background-image: url('png/neurology.png'); background-repeat: no-repeat; }

.icon-oncology-open { background-image: url('png/oncology-open.png'); background-repeat: no-repeat; }

.icon-oncology { background-image: url('png/oncology.png'); background-repeat: no-repeat; }

.icon-primarycare-open { background-image: url('png/primarycare-open.png'); background-repeat: no-repeat; }

.icon-primarycare { background-image: url('png/primarycare.png'); background-repeat: no-repeat; }

.icon-teardrop { background-image: url('png/teardrop.png'); background-repeat: no-repeat; }

.icon-urology-open { background-image: url('png/urology-open.png'); background-repeat: no-repeat; }

.icon-urology { background-image: url('png/urology.png'); background-repeat: no-repeat; }

